<div class="seats-legend">
  <!-- <div class="seat-img"> -->
    <%= image_tag("free.png", style: "width: auto; height: 40px;") %>
     - Vapaa paikka 
  <!-- </div> -->
  <!-- <div class="seat-img"> -->
    <%= image_tag("reserved.png", style: "width: auto; height: 40px;") %>
     - Myyty tai varattu paikka
  <!-- </div> -->
</div>

<table class="table">
  <thead>
    <tr>
      <th><h3>Riivi</h3></th>
      <th><h3>Paikka</h3></th>
      <th><h3>Riivi</h3></th>
    </tr>
  </thead>

  <tbody>
    <% @seats_arr.each do |row| %>
      <tr>
        <td class="table-cell"><h3><%= row[0].row %></h3></td>
        <td class="table-cell">
          <% row.each do |seat| %>
            <div class="seat-img">
              <% if seat.status == 'available' %>
                <span><%= seat.number %></span>
                <%= image_tag("free.png", id: "img-#{seat.row}-#{seat.number}", class: "available") %>
              <% else %>
                <%= image_tag("reserved.png", id: "img-#{seat.row}-#{seat.number}", class: "reserved") %>
              <% end %>
            </div>
            <% if (seat.row == 10 || seat.row == 11) && seat.number == 4 %>
              <div class="separator"></div>
            <% end %>
          <% end %>
          <% if row[0].row == 9 %>
            <br>
            <div>
              <span class="glyphicon glyphicon-arrow-up"></span>
              <h3 style="margin: 20px 50px 10px 50px; display: inline-block;">parveke</h3>
              <span class="glyphicon glyphicon-arrow-up"></span>
            </div>
          <% end %>  
        </td>
        <td class="table-cell"><h3><%= row[0].row %></h3></td>
      </tr>
      <br>  
    <% end %>
  </tbody>
</table>
