<!DOCTYPE html>
<html>
<head>
  <title>Suuri Avaruusmatka</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"  data-method="get">Suuri Avaruusmatka</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if !logged_in? %>
              <a href="/login" id="login">
              <span class="glyphicon glyphicon-log-in"></span>
               Kirjaudu sisään
              </a>
            <% else %>
              <a href="/logout" id="logout" data-method="delete">
              <%= current_user.email %>
              <span class="glyphicon glyphicon-log-in"></span>
               Ulos
              </a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="container "> -->
  <div class="container container-center">
    <div class="row">
      <div class="col-xs-10 ">
        <% if flash[:notice] %>
          <div class="alert alert-success fade in flash-alert col-xs-12 col-xs-offset-1">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-danger fade in flash-alert col-xs-12 col-xs-offset-1">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
